Package: ch.leroyb.customcontrolcenter
Name: CustomControlCenter
Depends: mobilesubstrate, firmware (>= 11.0)
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: LeroyB <leroy.email.inbox@gmail.com>
Author: LeroyB <leroy.email.inbox@gmail.com>
Section: Tweaks
Version: 0.0.1-1+debug
Installed-Size: 240
