<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Settings</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>ch.leroyb.CustomControlCentrePref</string>
			<key>key</key>
			<string>pfIsTweakEnabled</string>
			<key>label</key>
			<string>Enable CustomControlCentre</string>
			<key>PostNotification</key>
			<string>ch.leroyb.CustomControlCentrePref.preferencesChanged</string>
		</dict>
		<!-- window size [start] -->
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Choose a window size! (Requiers a respring)</string>
			<key>footerText</key>
			<string>Choose the size of the 'Control Centre' window. For custom values, select 'custom' above and use the input fields.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>default</key>
			<integer>0</integer>
			<key>defaults</key>
			<string>ch.leroyb.CustomControlCentrePref</string>
			<key>key</key>
			<string>pfCCWindowSizeChoice</string>
			<key>validValues</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
				<integer>999</integer>
			</array>
			<key>validTitles</key>
			<array>
				<string>default</string>
				<string>half</string>
				<string>one-third</string>
				<string>custom</string>
			</array>
			<key>PostNotification</key>
			<string>ch.leroyb.CustomControlCentrePref.preferencesChanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>placeholder</key>
			<string>default: 667</string>
			<key>default</key>
			<string></string>
			<key>defaults</key>
			<string>ch.leroyb.CustomControlCentrePref</string>
			<key>key</key>
			<string>pfCCWindowSizeCustomHeight</string>
			<key>label</key>
			<string>Custom 'height' value:</string>
			<key>PostNotification</key>
			<string>ch.leroyb.CustomControlCentrePref.preferencesChanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>placeholder</key>
			<string>default: 375</string>
			<key>default</key>
			<string></string>
			<key>defaults</key>
			<string>ch.leroyb.CustomControlCentrePref</string>
			<key>key</key>
			<string>pfCCWindowSizeCustomWidth</string>
			<key>label</key>
			<string>Custom 'width' value:</string>
			<key>PostNotification</key>
			<string>ch.leroyb.CustomControlCentrePref.preferencesChanged</string>
		</dict>
		<!-- window size [end] -->
		<!-- window position [start] -->
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Choose a window position!</string>
			<key>footerText</key>
			<string>Choose the position of the 'Control Centre' window. For custom values, select 'custom' above and use the input fields. X and Y = 0, is the top left point on-screen!</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>default</key>
			<integer>0</integer>
			<key>defaults</key>
			<string>ch.leroyb.CustomControlCentrePref</string>
			<key>key</key>
			<string>pfCCWindowPosChoice</string>
			<key>validValues</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>999</integer>
			</array>
			<key>validTitles</key>
			<array>
				<string>top</string>
				<string>bottom</string>
				<string>custom</string>
			</array>
			<key>PostNotification</key>
			<string>ch.leroyb.CustomControlCentrePref.preferencesChanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>placeholder</key>
			<string>default: 0</string>
			<key>default</key>
			<string></string>
			<key>defaults</key>
			<string>ch.leroyb.CustomControlCentrePref</string>
			<key>key</key>
			<string>pfCCWindowPosCustomX</string>
			<key>label</key>
			<string>Custom 'X' value:</string>
			<key>PostNotification</key>
			<string>ch.leroyb.CustomControlCentrePref.preferencesChanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>placeholder</key>
			<string>default: 0</string>
			<key>default</key>
			<string></string>
			<key>defaults</key>
			<string>ch.leroyb.CustomControlCentrePref</string>
			<key>key</key>
			<string>pfCCWindowPosCustomY</string>
			<key>label</key>
			<string>Custom 'Y' value:</string>
			<key>PostNotification</key>
			<string>ch.leroyb.CustomControlCentrePref.preferencesChanged</string>
		</dict>
		<!-- window position [end] -->
		<!-- collection position [start] -->
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Choose a modules position!</string>
			<key>footerText</key>
			<string>Choose the position of the 'Modules' inside the Control Centre window. For custom values, select 'custom' above and use the input fields. X and Y = 0, is the top left point on-screen!</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>default</key>
			<integer>0</integer>
			<key>defaults</key>
			<string>ch.leroyb.CustomControlCentrePref</string>
			<key>key</key>
			<string>pfCCCollectionWindowPosChoice</string>
			<key>validValues</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>999</integer>
			</array>
			<key>validTitles</key>
			<array>
				<string>default</string>
				<string>top</string>
				<string>custom</string>
			</array>
			<key>PostNotification</key>
			<string>ch.leroyb.CustomControlCentrePref.preferencesChanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>placeholder</key>
			<string>default: 0</string>
			<key>default</key>
			<string></string>
			<key>defaults</key>
			<string>ch.leroyb.CustomControlCentrePref</string>
			<key>key</key>
			<string>pfCCCollectionWindowPosCustomX</string>
			<key>label</key>
			<string>Custom 'X' value:</string>
			<key>PostNotification</key>
			<string>ch.leroyb.CustomControlCentrePref.preferencesChanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>placeholder</key>
			<string>default: 0</string>
			<key>default</key>
			<string></string>
			<key>defaults</key>
			<string>ch.leroyb.CustomControlCentrePref</string>
			<key>key</key>
			<string>pfCCCollectionWindowPosCustomY</string>
			<key>label</key>
			<string>Custom 'Y' value:</string>
			<key>PostNotification</key>
			<string>ch.leroyb.CustomControlCentrePref.preferencesChanged</string>
		</dict>
		<!-- collection position [end] -->
		<!-- header size [start] -->
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Choose a header size!</string>
			<key>footerText</key>
			<string>Choose the size of the 'Control Centre Header'. For custom values, select 'custom' above and use the input fields.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>default</key>
			<integer>0</integer>
			<key>defaults</key>
			<string>ch.leroyb.CustomControlCentrePref</string>
			<key>key</key>
			<string>pfCCHeaderSizeChoice</string>
			<key>validValues</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
				<integer>999</integer>
			</array>
			<key>validTitles</key>
			<array>
				<string>default</string>
				<string>half</string>
				<string>one-third</string>
				<string>custom</string>
			</array>
			<key>PostNotification</key>
			<string>ch.leroyb.CustomControlCentrePref.preferencesChanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>placeholder</key>
			<string>default: 64</string>
			<key>default</key>
			<string></string>
			<key>defaults</key>
			<string>ch.leroyb.CustomControlCentrePref</string>
			<key>key</key>
			<string>twCCHeaderSizeCustomHeight</string>
			<key>label</key>
			<string>Custom 'height' value:</string>
			<key>PostNotification</key>
			<string>ch.leroyb.CustomControlCentrePref.preferencesChanged</string>
		</dict>
		<!-- <dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>placeholder</key>
			<string>default: 375</string>
			<key>default</key>
			<string></string>
			<key>defaults</key>
			<string>ch.leroyb.CustomControlCentrePref</string>
			<key>key</key>
			<string>pfCCWindowSizeCustomWidth</string>
			<key>label</key>
			<string>Custom 'width' value:</string>
			<key>PostNotification</key>
			<string>ch.leroyb.CustomControlCentrePref.preferencesChanged</string>
		</dict> -->
		<!-- header size [end] -->
		<!-- item spacing [start] -->
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Choose a spacing value!</string>
			<key>footerText</key>
			<string>Choose the amount of spacing between Control Centre items.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>placeholder</key>
			<string>default: 15</string>
			<key>default</key>
			<string></string>
			<key>defaults</key>
			<string>ch.leroyb.CustomControlCentrePref</string>
			<key>key</key>
			<string>pfCCItemSpacing</string>
			<key>label</key>
			<string>Custom item spacing value:</string>
			<key>PostNotification</key>
			<string>ch.leroyb.CustomControlCentrePref.preferencesChanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>placeholder</key>
			<string>default: 69</string>
			<key>default</key>
			<string></string>
			<key>defaults</key>
			<string>ch.leroyb.CustomControlCentrePref</string>
			<key>key</key>
			<string>pfCCItemEdgeSpacing</string>
			<key>label</key>
			<string>Custom edge spacing value:</string>
			<key>PostNotification</key>
			<string>ch.leroyb.CustomControlCentrePref.preferencesChanged</string>
		</dict>
		<!-- item spacing [end] -->
		<!-- alpha [start] -->
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>placeholder</key>
			<string>default: 1</string>
			<key>default</key>
			<string></string>
			<key>defaults</key>
			<string>ch.leroyb.CustomControlCentrePref</string>
			<key>key</key>
			<string>pfCCAlpha</string>
			<key>label</key>
			<string>Custom alpha value:</string>
			<key>PostNotification</key>
			<string>ch.leroyb.CustomControlCentrePref.preferencesChanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>placeholder</key>
			<string>default: 1</string>
			<key>default</key>
			<string></string>
			<key>defaults</key>
			<string>ch.leroyb.CustomControlCentrePref</string>
			<key>key</key>
			<string>pfCCModulsAlpha</string>
			<key>label</key>
			<string>Custom Moduls alpha value:</string>
			<key>PostNotification</key>
			<string>ch.leroyb.CustomControlCentrePref.preferencesChanged</string>
		</dict>
		<!-- alpha [end] -->
		<!-- actions start -->
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>actions</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Apply settings and respring!</string>
			<key>action</key>
			<string>respring</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Show your default screen size!</string>
			<key>action</key>
			<string>printInfo</string>
		</dict>
		<!-- actions end -->
		<!-- infos start -->
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>infos</string>
			<key>footerText</key>
			<string>CustomControlCentre by LeroyB. Build 0.0.4 [Wednesday, 2 January 12019]</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>paypal.png</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Donate via PayPal :)</string>
			<key>action</key>
			<string>showPayPal</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>monero.png</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Donate via Monero ;)</string>
			<key>action</key>
			<string>showMonero</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>bitcoin.png</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Donate via Bitcons :)</string>
			<key>action</key>
			<string>showBitcoin</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>twitter.png</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Send me a message @IDEK_a_Leroy</string>
			<key>action</key>
			<string>showTwitter</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>reddit.png</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Send me a message u/IDEK_a_Leroy</string>
			<key>action</key>
			<string>showReddit</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>github.png</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Source Code</string>
			<key>action</key>
			<string>showSourceCode</string>
		</dict>
		<!-- infos end -->
	</array>
	<key>title</key>
	<string>CustomControlCentre</string>
</dict>
</plist>
